* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body,
html {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: rgb(54, 77, 204);
  background: radial-gradient(
    circle,
    rgba(54, 77, 204, 1) 0%,
    rgba(25, 40, 120, 1) 100%
  );
  color: black;
}

header.profile {
  margin-top: 2rem;
  text-align: center;
}

header.profile .avatar {
  width: 7rem;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 2px 4px 2px white;
}

header.profile h1 {
  font-family: 'Montserrat', cursive;
  font-weight: normal;
  font-size: 3rem;
  margin-bottom: 0.25rem;
  color: white;
}

header.profile h2 {
  font-size: 1rem;
  font-weight: normal;
  color: white;
}

section ul.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  justify-content: space-between;
  padding: 1rem;
  margin: auto;
}

.social li a img {
  width: 2.06rem;
}

.links-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 500px;
  margin: auto;
}

.links-list li {
  border-radius: 4px;
  padding: 1rem;
  font-size: 1rem;
  margin: 1rem;
  background-color: white;
}

.links-list li.course {
  background-color: #212529;
  display: flex;
  align-items: center;
}
.links-list li.course div,
.links-list li.course div span {
  color: white;
}

.links-list li a {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
}

.links-list li a span {
  font-size: 0.9rem;
  font-weight: normal;
  color: #333;
  display: block;
  margin-top: 0.2rem;
}

.links-list li a span.icon img {
  width: 2rem;
  margin-right: 1rem;
}

footer {
  text-align: center;
  padding: 0.5rem 1rem;
}

footer a {
  color: white;
  font-weight: 600;
}
